
    body {
        background-color: aqua;
        height: 100%;
    }

    #display1 {
        border: 2px solid black;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;

    }
    #display2 {
        border: 2px solid black;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
    }

    button {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    #reset {
        height: 50px;
        width: 50px;
        border-radius: 0%;
    }

    #fish {
        display: block;
        border: 2px solid black;
        width: 150px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(240, 241, 143);
    }
    
    .mouth {
        border: 2px solid black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(240, 241, 143);
    }

    #dorsalFin {
        border-bottom: 50px solid blue;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        height: 0;
        width: 25px;
    }

    #caudalFin {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-right: 50px solid blue;
        border-bottom: 25px solid transparent;
    }
    #fin {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid blue;
    }

    #eye {
        border: 5px solid white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.479);
    }
    .rocks {
        display: block;
    }

