
    body {
        background-color: aqua;
        height: 100%;
    }

    .calculator-items {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	    grid-template-areas: 
		"display1"
        "display2"
        "number-buttons"
        "operator-buttons"
        "equals"
		"reset"
        "resultDisplay";
        grid-template-rows: 100px 100px 250px 50px 20px 40px 50px;
        grid-gap: 20px;
        justify-items: center;
        margin-top: 50px;
    }

    #display1 {
        grid-area: display1;
        grid-column: 2 / span 3;
        grid-row-start: span 3;
        text-align: center;
        border: 2px solid black;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;

    }
    #display2 {
        grid-area: display2;
        grid-column: 3 / span 3;
        text-align: center;
        border: 2px solid black;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
    }
    

    .number-buttons {
        grid-area: number-buttons;
        grid-column: 2 / span 4;
        grid-row: 1 / span 3;
    }

    .operator-buttons{
        grid-area: operator-buttons;
        grid-column: 3 / span 2;
        grid-row: 1 / span 2;
        align-self: center;
    }

    #equals {
        grid-area: equals;
        grid-column: 6 / span 1;

    }

    #resultDisplay {
        grid-area: resultDisplay;
        grid-column: 6 / span 2;
        border: 2px solid black;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
    }

    #reset {
        grid-area: reset;
        grid-column: 7;
        grid-row: 7 / span 1;
        height: 50px;
        width: 50px;
        border-radius: 0%;
    }

    button {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    
    .rocks {
        display: block;
    }

    .fish {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -800px;
    }
    /*#fish {
        display: block;
        border: 2px solid black;
        width: 150px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(240, 241, 143);
    }
    
    .mouth {
        border: 2px solid black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(240, 241, 143);
    }

    #dorsalFin {
        border-bottom: 50px solid blue;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        height: 0;
        width: 25px;
    }

    #caudalFin {
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-right: 50px solid blue;
        border-bottom: 25px solid transparent;
    }
    #fin {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid blue;
    }

    #eye {
        border: 5px solid white;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: black;
        box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.479);
    }*/

    

